c 1 CYGSEM_HAL_INSTALL_MMU_TABLES_TR99
c 2 _CYGNUM_IO_FLASH_ENGTH_44_POPPPP_856
c 3 7_0CYGPKG_IO_SERIAL_I1245_PC_7_REMOVE_POP_639
c 4 _CYGPKG_IO_FLASH_BLOCK_DEVICE_1
c 5 CYGPKG_IO_SERIAL_GENERIC_16X5X
c 6 CYGPKG_FS_JFFS2_RET_DIRENT_DTYPE_95
p cnf 6 5
-1 -2 -4 0
-3 0
4 0
-5 0
-1 -2 3 -4 5 0