c 1 CYGSEM_HAL_INSTALL_MMU_TABLES_TR99
c 2 _CYGNUM_IO_FLASH_ENGTH_44_POPPPP_856
c 3 7_0CYGPKG_IO_SERIAL_I1245_PC_7_REMOVE_POP_639
c 4 _CYGPKG_IO_FLASH_BLOCK_DEVICE_1
c 5 CYGPKG_IO_SERIAL_GENERIC_16X5X
c 6 CYGPKG_FS_JFFS2_RET_DIRENT_DTYPE_95
c 7 CYGBLD_ISO_STDLIB_DIV_HEADER
c 8 CYGNUM_IO_FLASH_BLOCK_ABSOLUTE_START_2
c 9 CYGSEM_LIBC_STDIO_SCANF_FLOATING_POINT
c 10 CYGNUM_IO_FLASH_BLOCK_AB2SOLUTE_START_I2
c 11 _CYGDAT_UITRON_MEMPOOLVAR_EXTERNS3
c 12 CYGNUM_KERNEL_COUNTERS_RTC_RESOLUTION
c 13 CYGBLD_ISO_C_TIME_TYPES_HEADER
c 14 CYGBLD_BUILD_REDBOOT_BIN_ROM
c 15 CYGPKG_SNMPAGENT_CFLAGS_REMOVE
c 16 CYGBLD_ISO_POSIX_SLEEP_HEADER
c 17 CYGNUM_IO_SERIAL_I386_PC_SERIAL1_BAUD
c 18 CYGNUM_JFFS2_GS_THREAD_TICKS
c 19 CYGNUM_VNC_SERVER_PIXEL_RGB555
c 20 CYGSEM_KERNEL_THREADS_DESTRUCTORS_PER_THREAD
c 21 CYGNUM_ERROR_ERRNO_TRACE_LEVEL
c 22 CYGINT_ISO_STDIO_FILEPOS
c 23 CYGPKG_INFRA_TESTS
c 24 CYGPKG_NET_FREEBSD_IPSEC6
c 25 CYGINT_HAL_VIRTUAL_VECTOR_SUPPORT
c 26 CYGOPT_PPP_DNS_CONFIGURE
c 27 CYGBLD_LINKER_SCRIPT
c 28 CYGPKG_NET_MEMPOOL_SIZE
c 29 CYGIMP_LIBC_TIME_CTIME_INLINE
c 30 CYGBLD_ISO_STDIO_FORMATTED_IO_HEADER
c 31 CYGIMP_LIBC_TIME_ASCTIME_INLINE
c 32 CYGPKG_FS_RAM_RET_DIRENT_DTYPE
c 33 CYGBLD_ISO_SETJMP_HEADER
c 34 CYGBLD_ISO_RAND_HEADER
c 35 CYGINT_ISO_TZSET
c 36 CYGPKG_LIBC_I18N_CFLAGS_ADD
c 37 CYGPKG_HAL_TESTS
c 38 CYGPKG_NS_DNS_TESTS_ELSIS
c 39 CYGHWR_NET_DRIVER_ETH1_ADDRS_NETMASK
c 40 CYGDBG_USE_TRACING
c 41 CYGPKG_LIBC_TIME_ZONES
c 42 CYGPKG_ISO_LIMITS
c 43 CYGPKG_COMPRESS_ZLIB
c 44 CYGPKG_HAL
c 45 CYGIMP_LIBC_I18N_CTYPE_INLINES
c 46 CYGPKG_VNC_SERVER_BUILD_KEYBOARD_DRIVER
c 47 CYGNUM_HAL_RTC_DENOMINATOR
c 48 CYGIMP_LIBC_TIME_LOCALTIME_R_INLINE
c 49 CYGBLD_BUILD_I386_ROMBOOT
c 50 CYGNUM_POSIX_PTHREAD_DESTRUCTOR_ITERATIONS
c 51 CYGPKG_LIBC_STARTUP_CONTEXT
c 52 CYGSEM_HAL_COMMON_INTERRUPTS_ALLOW_NESTING
c 53 CYGIMP_WALLCLOCK_HARDWARE
c 54 CYGNUM_UITRON_VER_ID
c 55 CYGINT_ISO_C_TIME_TYPES
c 56 CYGBLD_ISO_BSDTYPES_HEADER
c 57 CYGDBG_INFRA_DEBUG_TRACE_BUFFER_WRAP
c 58 CYGFUN_INFRA_DUMMY_ABORT
c 59 CYGINT_ISO_STRTOK_R
c 60 CYGINT_POSIX_REALTIME_SIGNALS
c 61 CYGNUM_DEVS_ETH_I386_PC_LANCEPCI_ETH0_RX_RING_SIZE
c 62 CYGBLD_ISO_STDLIB_DIV_HEADER
c 63 CYGPKG_NS_DNS_TESTS_LUNN
c 64 CYGSEM_LIBC_STDIO_SCANF_FLOATING_POINT
c 65 CYGINT_ISO_STDIO_FORMATTED_IO
c 66 CYGBLD_ISO_ERRNO_HEADER
c 67 CYGVAR_KERNEL_COUNTERS_CLOCK
c 68 CYGFUN_LIBC_ATEXIT
c 69 CYGPKG_IO_SERIAL_OPTIONS
c 70 CYGNUM_UITRON_FLAGS_INITIALLY
c 71 CYGPKG_ISO_STARTUP
c 72 CYGSEM_HAL_I386_PC_DIAG_SCREEN
c 73 CYGHWR_MEMORY_LAYOUT_LDI
c 74 CYGPKG_MEMALLOC_MALLOC_ALLOCATORS
c 75 CYGPKG_VNC_SERVER_BUILD_MOUSE_DRIVER
c 76 CYGNUM_IO_FLASH_BLOCK_ABSOLUTE_START_2
c 77 CYGNUM_DEVS_ETH_I386_PC_LANCEPCI_ETH0_TX_RING_SIZE
c 78 CYGPKG_UITRON_SEMAS
c 79 CYGPKG_NET_FAST_THREAD_PRIORITY
c 80 CYGPKG_HAL_I386_GENERIC
c 81 CYGNUM_NET_DHCP_MIN_RETRY_TIME
c 82 CYGIMP_LIBC_TIME_GMTIME_R_INLINE
c 83 CYGNUM_VNC_SERVER_PIXEL_RGB332
c 84 CYGNUM_IO_FLASH_BLOCK_CFG_STATIC_1
c 85 CYGNUM_KERNEL_COUNTERS_CLOCK_ISR_PRIORITY
c 86 CYGPKG_ERROR_STRERROR
c 87 CYGINT_WALLCLOCK_HW_IMPLEMENTATIONS
c 88 CYGDAT_NS_DNS_DOMAINNAME_NAME
c 89 CYGINT_ISO_MALLOC
c 90 CYGNUM_IO_FLASH_BLOCK_CFG_STATIC_2
c 91 CYGINT_ISO_POLL
c 92 CYGPKG_NS_DNS_CFLAGS_REMOVE
c 93 CYGOPT_NET_FREEBSD_STACK_ACCEPT_UNICAST
c 94 CYGNUM_VNC_SERVER_PIXEL_SELECTED
c 95 CYGFUN_HAL_I386_PCMB_GPROF_SUPPORT
c 96 CYGBLD_MEMALLOC_MALLOC_EXTERNAL_HEAP_H
c 97 CYGPKG_HTTPD_CFLAGS_REMOVE
c 98 CYGPKG_POSIX_UTSNAME
c 99 CYGINT_IO_FLASH_BLOCK_DEVICE_METHODS
c 100 CYGPKG_LIBM_TRACE
p cnf 1009 101
2 -13 0
1 -4 5 0
-1 2 -6 -10 14 0
3 -7 -12 13 14 -15 0
-1 9 -10 13 0
3 -5 0
-2 3 10 0
-4 5 0
7 13 -15 0
-1 2 -5 11 -14 0
-1006 1009 0
-153 846 0
-846 153 0
-2 102 0
-6 10 0
-432 258 0
-646 258 0
-517 258 0
-823 258 0
-258 823 0
-1 517 0
-358 517 0
-517 -666 0
-517 358 0
-809 823 1000 0
-962 823 0
-823 809 0
-823 962 0
-345 236 0
-884 236 0
-475 236 0
-346 236 0
-586 236 0
-236 346 0
-170 884 0
-723 884 0
-160 884 0
-10 884 0
-388 884 0
-100 884 0
-884 170 0
-884 723 0
-884 160 0
-88 109 0
-884 388 0
-884 1007 0
-681 475 0
-17 475 0
-968 475 0
-897 475 0
-11 475 0
-305 475 0
-475 681 0
-475 17 0
-475 968 0
-475 897 0
-75 111 0
-475 305 0
-621 346 0
-19 346 0
-346 621 0
-36 49 0
-126 586 0
-56 106 0
-212 69 0
-370 69 0
-166 69 0
-69 212 0
-69 370 0
-69 166 0
-176 162 0
-554 162 0
-344 162 0
-935 162 0
-629 162 0
-986 162 0
-795 162 0
-767 162 0
-352 162 0
-367 779 0
-359 779 0
-615 779 0
-303 779 0
-408 779 0
-192 779 0
-119 779 0
-604 -779 0
-869 779 0
-19 779 0
-934 779 0
-779 303 0
-779 869 0
-513 615 0
-615 513 0
-353 408 0
-138 408 0
-1 18 0
-91 118 0
-27 38 0
-3 18 0
-7 1000 0